section.expert
	.container
		h3.expert-name Пономарева Галина
		.about
			img(src='../img/experts/ponomaryova.g.jpg', alt='Пономарева Галина').about-name
			each p in ['Педагог, психолог, коуч, специалист по метафизике заболеваний, специалист по методу терапевтических и духовных системных расстановок, МАК –терапевт']
				p.about-text=p
		.row
			.col-md-4.col-sm-4
				h4.diplomas-title='Дипломы, сертификаты, курсы:'
				ul.diplomas-list
					each d in ['Диплом психолога – МИИР','Сертификаты авторского курса Жанны Абрамовой «Метафизика заболеваний» – 1 и 2 го уровней','Сертификат по методу расстановок (курс Жанны Абрамовой)','Сертификат по метафорическим картам мастерского уровня','Сертификаты по духовной интеграционике 1-2-го уровней (К. Довлатов)','Куратор курсов Ж. Абрамовой Академии МВ']
						li=d
			.col-md-4.col-sm-4
				h4.queries-title С какими запросами я работаю:
				ul.queries-list
					each q1 in ['Психосоматические заболевания','Общение и адаптация','Личностное развитие','Самоорганизация','Баланс «работа-семья»','Родители-дети','Любовь и отношения']
						li=q1
			.col-md-4.col-sm-4
				h4.queries-title Владею технологиями:
				ul.queries-list
					each q2 in ['Метафизические техники','Метафорические карты','Расстановки','Аспектика','ГП 4 (техника нейтрализации негативных переживаний прошлого)','Авторская методика К. Довлатова ДИ, 1 и 2 уровни']
						li=q2
		+b('button-dark button-expert','../#prices','Записатся','')